body {
    font-family: 'Lato', sans-serif;
    color: #9b9b9b;
    font-size: 14px;
      margin: 0;
  padding: 0;
}

h1,h2,h3,h4,p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
}
a,span,li,ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;


}
.featuresandbenefitslinks {
  display: block;
  background-color: #126077;
  color: #ffffff;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 6px;

}
.error {
  color: #ff0000 !important;
}
.featuresandbenefitslinks a:hover {
  text-decoration: none;
}
.featuresandbenefitslinks:hover  {
    background-color: #149ABB;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.clientsFeatures {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 4px 8px;
}
a {
  color: #008cba;
}
ul, li {
  color: #333333;
}
.thumb {
  text-align: center;
}
.thumb > a > img {
  padding-bottom: 8px;
  border-bottom: 1px solid #f5f6f7;
}
.thumb > a:hover {
  text-decoration: none;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.date {
  background: #fbb100;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 4px;
}
.post a {
  display: block;
  margin-bottom: 10px;
  margin-top: 4px;
}

.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab-pane {
    padding: 20px;
}
.eventCards-links:hover .timeDate {
  background-color: #FBB169;
  color: #ffffff;
  cursor: pointer;
}

.eventCards-links .eventCards {
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  color: #333333;
  font-size: 12px;
  padding: 0.4rem;
  min-height: 200px;
}
.leadership p {
  font-size: 14px !important;
}
.leadership h6 {
  color: #0e5a6f;
  margin-bottom: 0.1rem;
  font-size: 18px;
}
.leadership img {
  margin-bottom: 15px;

}
.leadership span {
  display: block;
  font-size: 14px !important;
  margin-bottom: 0.4rem;
}

#InvalidLogin {
  visibility: hidden;
position: absolute;
top: 60px;
right: 185px;
background-color: #ff0000;
padding: 8px;
color: #ffffff;

}
.eventCards-links .eventCards p {
  font-size: 12px;
  text-align: left;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.eventCards-links .timeDate {
  text-align: center;
  background-color: #f5f6f7;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  color: #333333;
  font-size: 12px;
  padding: 0.8rem 0.4rem;
}

.eventCards h4 {
  color: #333333;
  border-bottom: 1px dashed #c2c2c2;
  padding-bottom: 16px;
  }

.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.thumbnail  p {
  font-size: 12px !important;
  text-align: center;
}
.icheckbox_flat-red {
  position: absolute;
  opacity: 1 !important;
}

#wrapper {
    padding-top: 0;
}

.submenuIcon {
    margin-left: 7px;    
}
.submenuIcon2 {
    margin-left:7px;  
}
#features {
    position: relative;
    z-index: 2;
    background: none;
    height: 540px;
    margin-top: 80px;
}

#pages-features {
    position: relative;
    z-index: 2;
    background: none;
    height: 250px;
    margin-top: 80px;
}

.item {
      width: 100%;

}
.item h1{
    font-weight: 100;
    font-size: 4.6rem;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

}
.item p{
    font-size: 1.6rem;
    max-width: 360px;
    text-align: center;
    margin: 10px auto 0 auto;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

}
.item a{
    margin-top: 20px;
    font-weight: 300;

}

.heroImage {
  left: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 540px;
  z-index: -999998;
  position: absolute;
  background: rgb(50,122,142);
}
.heroImage img {
    position: absolute; 
    margin: 0px; 
    padding: 0px; 
    min-width: 100%;
    border: none; 
    z-index: -999999; 
    left: 0px; 
    min-height: 450px;
}
#myCarousel {
    height: 540px;
}
.carousel-inner {
    top: 32%;
    text-align: center;
}

#navbar-mini {
  z-index: 1;
  border-bottom: 1px solid #c6f0fc;
}
#navbar-mini-pages {
  z-index: 1;

}
#navbar-mini-pages .container .row{
  background-color: #ffffff;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

}

.secondary-navbar {
    background-color: #ffffff;
    z-index: 10;
}
.secondary-nav {
    margin-top: 5px !important;
    margin-bottom: 5px !important;

}
.secondary-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    color: #1d96b7 !important;
}

.secondary-navbar-pages {
    background-color: #ffffff;
    z-index: 10;
     border-top-right-radius: 6px;
     border-top-left-radius: 6px;
}
.secondary-nav-pages {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.secondary-nav-pages > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    color: #1d96b7 !important;
}


.sticky {
    position: fixed !important;
    background-color: #c7dbde;
    top: 80px;
    width: 100%;
    left: 50%;
      border-bottom: 1px solid #c6f0fc;

    margin-left: 0%;
          -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Safari */
    transform: translateX(-50%);
}

.sections-each {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sections-each p, .sections-each h3 {
  color: #333333;
}
.sections-each p {
  font-size: 1.6rem;
}
.sections-each .thumbnail {
  border: none;
  background: none;
}
.sections-each .thumbnail .caption p {
  font-size: 1.4rem;
  text-align: center;
}
.sections-each .thumbnail .caption h3 {
  text-align: center;
}
#widgets-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#template-section-first {
  padding-top: 60px;
  padding-bottom: 60px;
    background-image: url("../images/property.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 50px;
}

#template-section-first-national {
  padding-top: 60px;
  padding-bottom: 60px;
    background-image: url("../images/national.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 50px;
}

#template-section-first-personal {
  padding-top: 60px;
  padding-bottom: 60px;
    background-image: url("../images/personal.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 50px;
}

#template-section-first-corporate {
  padding-top: 60px;
  padding-bottom: 60px;
    background-image: url("../images/corporate.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 50px;
}

#navabr-mini-section {
  background-color: #ffffff;
}
#navabr-mini-pages-section {
  background-color: #ffffff;
}
.odd {
  background-color: #f5f6f7;
}
.even {
  background-color: #ffffff;
}
.extra {
  background-color: #6B7C7E;
}
#section-1 {
  background-image: url("../images/index/australia-map.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 450px;
}

#section-1 p a {
  font-size: 1.3rem;
  display: block;
}


#section-1 p a:before {
  content: ">";
}

#section-1 p a:last-child:before {
  content: "";

}

#section-1 p a:last-child {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #aaaaaa;

}



#section-2  {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


#section-2 span {
  display: block;
  padding: 10px 8px;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: #127a96;
  color: #ffffff;
}

#section-2 .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

#section-2 .col-md-4:first-child span, #section-2 .col-md-4:nth-child(2) span {
  border-right: 1px solid #ffffff;
}

#section-2 .event-sections {
  min-height: 20px;
}
#section-2 .event-sections .event-sections-items span {
  display: inline-table;
  *display: inline;
  _height: 40px;
  min-height: 40px;
  border: none;
  width: 40px;
  height: 40px;
  *zoom: 1;
  background-color: #FF984F;
text-align: center;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 3px;
  margin-right: 8px;
  margin-left: 0;
  float: left;
}
#section-2 .event-sections ul {
  list-style: none;
  padding: 5px;
}

#section-2 .event-sections ul >li {
  padding-top: 4px;
  padding-bottom: 4px;
  display: table;
  vertical-align: middle;
 *display: inline;
 *zoom: 1;
 height: 100%;
 width: 100%;
 border-bottom: 1px solid #f5f6f7;

}

#section-2 .event-sections ul > li > a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  /**display: inline-block;*/
  color: #333;
  width: 100%;
  font-size: 1.2rem;
  font-size: 12px;
}

#section-3 {
  background-image: url("../images/chameleon.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  /*min-height: 500px;*/
}

#section-3 h2 {
  font-size: 3rem;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
   margin-bottom: 60px;
}

#section-3 h3 {
    color: #ffffff;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
   font-weight: 300;
}

#section-3 p{
  font-size: 1.5rem;
  color: #ffffff;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#section-3 {
  min-height: 400px;
}
#section-3 .row {
    padding-top: 20px;
}

#section-4 {
  padding-top: 80px;
  padding-bottom: 80px;
}
#section-4 .row .container .col-md-4:nth-child(3) img {

    margin-bottom: 20px;
}


#reveal-section {

    background-image: url("../images/reveal.png");
    background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 680px;
  *height: 600px;
}


#section-5 .testimonial-name {
  display: block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}
#section-5 h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 40px;
}
#section-5 .testimonial-position {
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 8px;
  font-size: 14px;
}
.movieIcon {
  background-image: url("../images/videoIcon.png");
    background-repeat: no-repeat;
  background-position: left center;
  width: 15px;
  height: 10px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;

}
#section-7 {
  background-color: #1e1e1e;
  color: #898989;
}

#section-7 p {
  color: #898989;
  font-size: 12px;
}
#section-7 #quick-access-links a {
  display: block;

}

#section-8 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
#more-information p {
  color: #ffffff;
  margin-top: 20px;
}

#more-information {
    background-image: url("../images/moreInformation.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 40px;

}

.pages-hero-header {
  max-width: 420px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  margin-top: 7%;

}

.interlinking-links {
  list-style: none;
  padding-left: 0;
}
.interlinking-links li > a:before{
  content: "> ";
}

.interlinking h4{
  color: #333333;
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #127A96;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #127A96;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-mine:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-mine:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-mine:hover:not(:last-child):after {
  border-left: 10px solid #f5f6f7;
}
.btn-breadcrumb .btn.btn-mine:hover:not(:last-child):before {
  border-left: 10px solid #f5f6f7;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 240px;
    }
}





@media (min-width: 768px) {

    .sections-each {
        min-height: 50px;
        vertical-align: middle;
        display: table;
        width: 100%;

    }

}

@media (min-width: 768px) and (max-width: 1440px) {

.nav > li > a {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.navbar-brand {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
#loginBtn {
  padding: 6px 2px !important;
  font-size: 12px;
}
}




@media (max-width: 768px) {
    #features {
        margin-top: 0;
    }
 }

