@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.mceTmpl {
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
width: 100%;
}
table {
background-color: transparent;
}

table {
border-collapse: collapse;
border-spacing: 0;
}
.mceTmpl table.pexa-table tbody tr:nth-child(2n+1) td {
background: #EEE;
}
.mceTmpl table.pexa-table tbody tr td {
padding: 10px 20px;
border-right: 2px solid #FFF;
font-size: 12px;
}
.mythBuster {
			    -webkit-columns:  1; /* Chrome, Safari, Opera */
    -moz-columns:  1; /* Firefox */
    columns:  1;
}
.mceTmpl table.pexa-table th {
color: #FFF;
background: #0696b7;
padding: 10px 20px;
font-weight: normal;
font-size: 16px;
border-right: 2px solid #FFF;
}
th {
text-align: left;
}

td, th {
padding: 0;
}
.table-responsive, .mceTmpl {
overflow-x: auto;
}
#itemMainLabel2 {
margin-top: 15px;
color: #333 !important;
font-weight: normal !important;
width: 160px !important;
font-size: 13px !important;
}

.error {
padding-left: 5px !important;
display: inline !important;
font-size: 14px !important;
font-weight: normal !important;
color: #F00 !important;
}
body { margin:0 !important; padding:0 !important;font-family: 'Lato', sans-serif;}
h1, h2, h3, h4, h5, a, button, input, span, p {font-family: 'Lato', sans-serif; }
	#homeHero {
		margin-left:0;
		margin-right:0;
		position:absolute;
		background-image:url(../img/PEXA_hero_image_mobile_owl.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		min-width:100%;
		min-height:270px;
	}

#sloganContainer {
	background-color:rgba(6,150,183,0.7);
	padding:25px;
	color:#FFF;
	min-height:214px;
}
#sloganContainer h1 {
	font-size:1.6em;
}
#sloganContainer span {
	font-weight:300;
}

#InfoTrackLogoHolder {
	display:block;
	text-align:right;
}
#navContainer {
	padding-left:0;
	padding-right:0;
}
	
#mainNavHolder {
	border-radius:0;
	padding-top:8px;
	padding-bottom:8px;
}

.navbar-brand {
	float:none;
	padding:0;
} 

.mobile-brand{
	margin-left:15px;

}
.mobile-brand img{
	padding-top:4px;

}
#navContainer {
	top:0;
}
.guideItem {
	background-color:#CCC;
	padding:15px;
	margin-bottom:15px;

}
#footer {
	padding-top:60px;
	padding-bottom:60px;
	background-color:#1d96b7;
}
.arrowToTop {
	position:fixed;
	bottom:25px;
	right:25px;
	z-index:5;
}
.guideItem a {
	border-radius:0 !important;
	background:none !important;
	background-color:#1d96b7 !important;
	border:none;
	position:absolute;
	right:30px;
	bottom:0px;
}
#CTA {
	margin-bottom:25px;
}
.btn-primary {
	background-image:none;
	background-color:#333;
	border:none;
	border-radius:0;
}

.footerItem {
	margin-bottom:15px;		
}

.footerItem span {
		color:#8fd5e8;
		padding-bottom:4px;
		margin-bottom:14px;
		display:block;
		border-bottom:#64bcd4 dashed thin;
		
}
.footerItem a {
		color:#8fd5e8;
		font-size:11px;	
		display:block;	
}
.footerItem p {
		color:#8fd5e8;
		font-size:11px;
}
		#welcome  {
		padding:25px;
		border-bottom:#CCC dashed thin;
	
	}
	#welcome p {
		text-align:center;
		font-size:1.4em;
		
	}

.testimonialsItem {
	background-color:#c9e5ed;
	padding:25px;
	min-height:250px;
	margin-bottom:10px;
}
.newsTitles {
	font-size:1.15em;
	display:block;
	margin-bottom:14px;
	color:#066;
	background-color:#f5f6f7;
	padding:5px 10px;
}
.newsDesc {
	font-size:1em !important;
	
}
.newsMore {
	font-size:1em !important;
}
.newsToggleBtn {
	background-color:#F33;
	border:none;
	padding:5px 10px;
	color:#FFF;
}
.newsItems {
	margin-bottom:20px;
}
ul {
            
            z-index: 1000 !important;
           
        }
	
@media only screen and (min-width : 480px) {
.mythBuster {
			    -webkit-columns:  2; /* Chrome, Safari, Opera */
    -moz-columns:  2; /* Firefox */
    columns:  2;
}

ul {
          
            z-index: 1000 !important;
      
        }
	.ans {
		font-size:1.1em !important;
		margin-bottom:18px;
		display:none;
	}
	
	#questions a {
		font-size:1.1em;
		display:block;
		padding-bottom:4px;
		border-bottom:#CCC dashed thin;
		margin-bottom:18px;
	}
	#questions a:hover {
		cursor:pointer;
	}

	.dropdown-menu li a {
		padding:10px 10px;
	}
	.dropdown-menu li a:hover {
		color:#fab06a;
		background-image:none;
		background-color:#333;
	}
	
	#floatdiv {
		position:absolute;
	 	width:200px;
		height:17em;
		z-index:10;
		background-color:#fab06a;
		padding:15px;
		color:#FFF;
		
	}

	#floatdiv h4{
		font-weight:bold;
		margin-bottom:18px;
	}
	#floatdiv p{
		font-size:1.0em;
		color:#000;
		line-height:1.2em;
	}

	#floatdiv a{
		color:#000;
		display:block;
		font-size:14px;
		margin-top:8px;
		text-decoration:underline;
		
	}


	.guideItem a {
		border-radius:0 !important;
		background:none !important;
		background-color:#1d96b7 !important;
		border:none;
		position:absolute;
		right:50px;
		bottom:15px;
	}

	#videoFullwidthRow {
		background-color:#f5f6f7;		
	}
	.guideItem {
		background-color:#f5f6f7;
		padding:25px;
		margin-top:25px;
		min-height:200px;
		  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

	.guideItem:hover {
		background-color:#3fc9ee;

	}

	.guideItem span{
		font-size:1.5em;
	}
	.guideItem h4{
		font-weight:bold;
	}
	
	.homeSections p {
		font-size:1.2em;
	}
	.homeSections img {
		margin-top:30px;
	}
	.homeSections {
		padding-top:40px;
		padding-bottom:60px;
	}
	#homeSection1 {
	border-bottom: #CCC dashed thin !important;

     }
	#homeSection2 h2 {
		margin-top:30px;
	}
	#homeSection2 p {

		margin-bottom:30px;
	}
	#navContainer {
		position:relative;
}
	#homeHero {
		margin-left:0;
		margin-right:0;
		position:absolute;
		background-image:url(../img/PEXA_hero_image_owl.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		min-width:100%;
		min-height:500px;
	}
	#sloganContainer {
		margin-top:15%;	
		min-height:204px;	
	}
	#navContainer {
		margin-top:80px;

	}
	.navbar-header {
		margin-left:30px;
	}
	.navbar-brand {
		float:none;
		padding:20px !important;
	}
	#mainNavHolder {
		margin-bottom:0;
		border-radius:14px;
		border:none !important;
		box-shadow:none;
		background-image:none !important;
		background-color:#FFF !important;
			padding-top:0px;
	padding-bottom:0px;
	}
	#mainNavbar {
		margin-right:14px;
	}
	#mainNavbar ul li.active a  {
		color:#0696b7 !important;
		background-color:transparent !important;
		background-color:#0696b7 !important;
		padding:49px 20px !important;
	}
	.mainNavLinks  {
		font-size:18px;
		color:#0696b7 !important;
		padding:49px 20px !important;
	}
	.mainNavLinks:hover  {
		background-color:#ebebeb !important;
		color:#000 !important;
	}	
	.dropdown-menu {
		left:0px !important;
		box-shadow:none;
		border:none;
		background-color:#f5f6f7;
		margin-top:2px !important;
		z-index: 3 !important;
		min-width:230px;


}



@media  (min-width : 768px) and (max-width : 980px) {



#homeHero {
		margin-left:0;
		margin-right:0;
		position:absolute;
		background-image:url(../img/PEXA_hero_image_tab_owl.jpg) !important;
		background-size:cover;
		background-repeat:no-repeat;
		min-width:100%;
		min-height:360px;
	}
		.mainNavLinks  {
		font-size:14px;
		color:#0696b7 !important;
		padding:49px 10px !important;
	}
	#navContainer {
		margin-top:5px;

	}
	#mainNavHolder {
	border-radius:0;
}

}

