doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='InfoTrack is a user friendly searching tool that can improve your property title, company & personal search time by up to 30%. Click now for more information.')
    title !{title}
    // #CSS Links
    // Basic Styles
    link(rel='stylesheet', type='text/css', href='assets/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='assets/css/subMenuFix.css')
    link(rel='stylesheet', type='text/css', href='assets/css/custom.css')
    link(href='assets/demos/intro_NSW/InfoTrack_Intro_NSW_embed.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // #GOOGLE FONT
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    // #GOOGLE TRACKING CODE
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-18464013-1', 'auto');
      ga('send', 'pageview');
    // #ELOQUA TRACKING CODE
    script.
      var _elqQ = _elqQ || [];
      _elqQ.push(['elqSetSiteId', '1343061771']);
      _elqQ.push(['elqUseFirstPartyCookie', 'visit.infotrack.com.au']);
      _elqQ.push(['elqTrackPageView']);
      (function () {
      function async_load() {
      var s = document.createElement('script'); s.type = 'text/javascript';
      s.async = true; s.src = '//img.en25.com/i/elqCfg.min.js';
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      }
      if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
      else if (window.attachEvent) window.attachEvent('onload', async_load);
      })();
  body
    #wrapper
      // MAIN NAV
      nav#mainNavbar.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')
              img(src='assets/images/logo.png', alt='Logo')
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Products
                  //if lt IE 8
                    img.submenuIcon(src='assets/images/subMenuArrow.png', alt='dropdown icon')
                  //if gte IE 8
                    span.caret
                  //if !IE
                  span.caret
                  // <![endif]
                ul.dropdown-menu(role='menu')
                  li.dropdown-submenu
                    a(href='#')
                      | Property Searches
                      //if lt IE 8
                        img.submenuIcon2(src='assets/images/subMenuArrow2.png', alt='dropdown icon')
                    ul.dropdown-menu
                      li
                        a(href='products-services/titles-plans-dealings.htm') Titles, plans, dealings
                      li
                        a(href='products-services/settlements-stamping-and-lodging.htm') Settlements, stamping & lodging
                      li
                        a(href='products-services/property-enquiries.htm') Property enquiries
                      li
                        a(href='products-services/OSR-EDR.htm') OSR-EDR (NSW)
                      li
                        a(href='products-services/prepurchase-reports.htm') Pre-Purchase reports
                      li
                        a(href='products-services/title-insurance.html') Title insurance
                      li
                        a(href='products-services/telco-cable-searches.htm') Telco Cable Search
                      li
                        a(href='news/updating-news/settlement-adjustment-sheet.htm') Settlement adjustment sheet (VIC)
                      li
                        a(href='http://www.infotrack.com.au/pexa', target='_blank') PEXA
                  li.dropdown-submenu
                    a(href='#')
                      | Company Searches
                      //if lt IE 8
                        img.submenuIcon2(src='assets/images/subMenuArrow2.png', alt='dropdown icon')
                    ul.dropdown-menu
                      li
                        a(href='products-services/asic-search.htm') ASIC search
                      li
                        a(href='products-services/personal-property-securities-register-ppsr.htm') PPSR Personal Property Securities Register
                      li
                        a(href='products-services/national-litigation-search-company.htm') National litigation search 
                      li
                        a(href='products-services/afsa-bankruptcy-registry-searches-extracts.htm') AFSA Bankruptcy Registry searches and extracts
                      li
                        a(href='products-services/nsw-civil-registry-efiling-company.htm') NSW Civil Registry e-Filing
                      li
                        a(href='products-services/creditorwatch–creditreports.htm') Credit Reports
                      li
                        a(href='products-services/international-company-searches-company.htm') International Company Searches
                      li
                        a(href='products-services/anti-money-laundering-reports.htm') Anti-Money Laundering Reports (AML)
                  li.dropdown-submenu
                    a(href='#')
                      | Personal Searches
                      //if lt IE 8
                        img.submenuIcon2(src='assets/images/subMenuArrow2.png', alt='dropdown icon')
                    ul.dropdown-menu
                      li
                        a(href='products-services/national-property-ownership.htm') National property ownership 
                      li
                        a(href='products-services/afsa-bankruptcy-registry-searches-extracts.htm') AFSA Bankruptcy Registry searches and extracts
                      li
                        a(href='products-services/person-locator-search.htm') Person Locator Search
                      li
                        a(href='products-services/national-litigation-search-personal.htm') National litigation search 
                      li
                        a(href='products-services/personal-property-securities-register-ppsr.htm') Personal Properties Security Register PPSR
                      li
                        a(href='products-services/nsw-civil-registry-efiling.htm') NSW Civil Registry e-Filing
                      li
                        a(href='products-services/electoral-roll-search.htm') Electoral Roll Search
                  li.dropdown-submenu
                    a(href='#')
                      | National Searches
                      //if lt IE 8
                        img.submenuIcon2(src='assets/images/subMenuArrow2.png', alt='dropdown icon')
                    ul.dropdown-menu
                      li
                        a(href='products-services/national-litigation-search.htm') National Litigation Search 
                      li
                        a(href='products-services/national-police-check-search.htm') National Police Check
                      li
                        a(href='products-services/national-property-ownership-search.htm') National Property Ownership Search
                      li
                        a(href='products-services/international-company-search.htm') International Company Search 
                  li
                    a(href='products-services/all-searches.htm') List of all Searches
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='products-services/manual-services.htm') Manual services
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='products-services/features-benefits.htm') Features & Benefits
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='http://www.infotrack.com.au/reveal') REVEAL
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='http://www.infotrack.com.au/pexa') PEXA
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='products-services/demo.htm') Demo
              li
                a(href='#') Create an account
              li
                a(href='#') Integration
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Industries
                  //if lt IE 8
                    img.submenuIcon(src='assets/images/subMenuArrow.png', alt='dropdown icon')
                  //if gte IE 8
                    span.caret
                  //if !IE
                  span.caret
                  // <![endif]
                ul.dropdown-menu(role='menu')
                  li
                    a(href='industries/legal-and-conveyancing.htm') Legal & Conveyancing
                  li
                    a(href='industries/mercantile-and-debt-collection.htm') Mercantile & Debt Collection
                  li
                    a(href='industries/banking-and-finance.htm') Banking & Finance
                  li
                    a(href='industries/governments.htm') Government
                  li
                    a(href='industries/accounting.htm') Accounting
                  li
                    a(href='industries/surveyors-and-property-valuers.htm') Surveyors & Property Valuers
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='industries/all-industries.htm') Other industries
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | News
                  //if lt IE 8
                    img.submenuIcon(src='assets/images/subMenuArrow.png', alt='dropdown icon')
                  //if gte IE 8
                    span.caret
                  //if !IE
                  span.caret
                  // <![endif]
                ul.dropdown-menu(role='menu')
                  li
                    a(href='news/latest-news.htm') Latest news
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='http://www.infotrack.com.au/pexa') PEXA
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='https://www.youtube.com/user/infotrackaus') Multimedia
                  li
                    a(href='news/media-releases.htm') Media releases
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='news/whitepapers.htm') Whitepapers
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='news/newsletters.htm') Newsletters
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='news/flyers-brochures-factsheets.htm') Flyers, brochures, factsheets
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='news/mentions-in-the-media.htm') Mentions in the media
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Get involved
                  //if lt IE 8
                    img.submenuIcon(src='assets/images/subMenuArrow.png', alt='dropdown icon')
                  //if gte IE 8
                    span.caret
                  //if !IE
                  span.caret
                  // <![endif]
                ul.dropdown-menu(role='menu')
                  li
                    a(href='searching/index.htm') Create an account
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='get-involved/events.htm') Events
                  li
                    a(href='get-involved/become-a-speaker.htm') Become a speaker and content contributer
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='get-involved/national-law-firms.html') National law firms
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='get-involved/our-partners.htm') Our partners
                  li
                    a(href='get-involved/resellers.htm') Resellers
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='get-involved/job-opportunities.htm') Job opportunities
                  //if gte IE 8
                    li.divider
                  //if !IE
                  li.divider
                  // <![endif]
                  li
                    a(href='products-services/demo.htm') Book a demo
              li
                a(href='#') Demo
              li
                a(href='#') Support
              li
                a(href='#') Contact
            form.navbar-form.navbar-right(role='search')
              .form-group
                //if lte IE 9
                  label.control-label(for='password') Username
                input#Username.form-control(type='password', name='Username', placeholder='Username')
                //if lte IE 9
                  label.control-label(for='textinput') Password
                input#Password.form-control(type='text', name='Password', placeholder='Password')
                button#loginBtn.btn.btn-default.btn-warning(type='submit') Login
          // /.navbar-collapse
        // /.container-fluid
    // MAIN NAV - END
    // HERO SECTION
    section
      #pages-features.row
        .container
          .pages-hero-header
            h1 !{heroHeading}
            p  !{heroTag}
      .heroImage
        img(src='assets/images/heroImage.jpg')
    // HERO SECTION - END
    // SECONDARY NAV
    section#navbar-mini-pages
      .container
        .row
          #bc1.btn-group.btn-breadcrumb
            a.btn.btn-mine(href='#')
              i.fa.fa-home
            #extraDots.btn.btn-mine ...
            a.btn.btn-mine(href='products-services/products-services.html')
              div Property Searches
            a.btn.btn-mine(href='#')
              div Overview
    // SECONDARY NAV - END
    // pages section first
    section#template-section-first.sections-each.even
      .container
        .col-sm-6.col-md-6
          p
            | InfoTrack offers a comprehensive national range of land searches and certificates. Our system guides you through the process with the least amount of steps and data required for entry.
          br
          p
            strong Key features
          ul
            li
              | Bulk searching ability as well as a copy & paste option of up to 50 titles at a time with free verification of address and proprietor (NSW/VIC/QLD).
            li Ability to view dealings list at the time of ordering titles (NSW/VIC).
            li Pre-population of details for Property Searches and Certificates (NSW/VIC/QLD).
            li Pre-select options for commonly ordered property certificates.
            li
              | National Property Ownership Search – complete one form for national index search of all Australian Land Registries.
          p
            strong Benefits to your business
          ul
            li Easy access to all State and Territory Land Registers.
            li
              | We will save 30% of your time when ordering searches due to our sophisticated and advanced search facility.
            li
              | We believe we have the fastest certificate return in the industry meaning you are able to prepare your contracts in a timely manner and increase efficiencies.
        .col-sm-6.col-md-4.col-md-push-2.interlinking
          h4  We offer a comprehensive range of property searches including: 
          ul.interlinking-links
            li
              a(href='products-services/titles-plans-dealings.htm') Titles, plans, dealings
            li
              a(href='products-services/settlements-stamping-and-lodging.htm') Settlements, stamping & lodging
            li
              a(href='products-services/property-enquiries.htm') Property enquiries
            li
              a(href='products-services/OSR-EDR.htm') OSR-EDR (NSW)
            li
              a(href='products-services/prepurchase-reports.htm') Pre-Purchase reports
            li
              a(href='products-services/title-insurance.html') Title insurance
            li
              a(href='products-services/telco-cable-searches.htm') Telco Cable Search
            li
              a(href='news/updating-news/settlement-adjustment-sheet.htm') Settlement adjustment sheet (VIC)
            li
              a(href='http://www.infotrack.com.au/pexa', target='_blank') PEXA
          hr
          a.btn.btn-md.btn-warning(href='#')
            span.glyphicon.glyphicon-facetime-video
            |                 Watch a demo
    // INTEGRATION
    section#more-information.sections-each.extra
      .row
        .container
          .col-md-10.col-md-push-1.text-center
            h2  More Information 
            a.btn.btn-warning-bg.btn-md Download brochure
            a.btn.btn-warning-bg.btn-md Book a demo
            a.btn.btn-warning-bg.btn-md Create an account
            p
              | Get in touch: 1800 738 524 or 
              a(href='mailto:sales@infotrack.com.au', style='color:#ffffff;') sales@infotrack.com.au 
    // INTEGRATION - END
    // PEXA
    section#reveal-section.sections-each.even
      .row
        .container.text-center
          .col-md-8.col-md-push-2.text-center
            img(src='assets/images/reveallogo.png', alt='REVEAL Logo')
            h3 New product alert - REVEAL
            p Data visualisation of your search results.
            a.btn.btn-md.btn-default(href='#')
              span.glyphicon.glyphicon-facetime-video
              |                   Watch a demo
            p
              br
              i Free of charge to all InfoTrack clients.
            br
    // PEXA - END
    // EVENTS
    section.sections-each.odd
      .row
        .container
          .col-md-6.col-md-push-3.text-center
            h3 We offer you the tools to make your online searching a breeze.
            a.btn.btn-warning
              span.glyphicon.glyphicon-star-empty
              |                   See features & benefits of InfoTrack
    // EVENTS - END
    // PEXA
    section.sections-each.even
      .row
        .container.text-center
          .col-md-8.col-md-push-2.text-center
            h3 InfoTrack working with PEXA
            p
              | As a major industry sponsor of PEXA, InfoTrack is your source of information and assistance in everything eConveyancing related. Together with PEXA we are working towards removing the manual processes and paperwork associated with the settlement of property transactions and will bring conveyancing into the digital age, infusing it with much-needed speed, efficiency and accuracy.
            a.btn.btn-md.btn-warning(href='#') See more on PEXA
        .container.text-center
          hr
          .col-md-8.col-md-push-2
            p
              a.btn.btn-md.btn-default Attend free PEXA webinar
              |  
              a.btn.btn-md.btn-default Expression of interest
              |  
              a.btn.btn-md.btn-default  PEXA newsletter subscription
    // PEXA - END
    // FOOTER
    section#section-7.sections-each
      .row
        .container
          .col-md-4
            h6  Contact 
            hr
            p
              | Head office: 
              br
              |                   Level 8, 135 King Street, Sydney NSW 2000
            p
              | Contact us on: 
              br
              |                   1800 738 524
            p
              | DX 578 Sydney
            p
              | InfoTrack HelpDesk:
              br
              a(href='mailto:HelpDesk@infotrack.com.au')  HelpDesk@infotrack.com.au 
          #quick-access-links.col-md-4
            h6 Quick Access
            hr
            a(href='about/about-us.htm') About us
            a(href='awards.htm') Awards
            a(href='about/mission.htm') Our mission
            a(href='get-involved/job-opportunities.htm')  Careers
            a(href='about/leadership.html') Leadership
            a(href='social-responsibility.htm') Social responsibility
            a(href='support.htm') Support
            a(href='sitemap.htm') Sitemap
          .col-md-4
            h6 InfoTrack Social
            hr
            p
              a(href='http://www.linkedin.com/company/infotrack-pty-ltd', target='_blank')
                img(src='assets/images/index/linkedin.png', alt='linkedin')
              |  .
              a(href='https://twitter.com/InfoTrack_aus', target='_blank')
                img(src='assets/images/index/twitter.png', alt='twitter')
              |  .
              a(href='http://www.youtube.com/user/infotrackaus', target='_blank')
                img(src='assets/images/index/youtube.png', alt='youtube')
              |  .
              a(href='http://infotrackeconveyancingblog.com', target='_blank')
                img(src='assets/images/index/blog.png', alt='youtube')
    // FOOTER - END
    section#section-8
      .container
        p
          | © 2015 InfoTrack Pty Ltd. 
          br
          | ABN 36 092 724 251. All Rights Reserved.
        p
          a(href='privacy/index.htm') Privacy Policy
          |  .
          a(href='../downloads/InfoTrackTermsAndConditions-Updated-Jan-2015.pdf', target='_blank') Terms & Conditions
          |  .
          a(href='https://secure.logmeinrescue.com/Customer/Code.aspx') Remote Access
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery-migrate-1.2.1.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='assets/bootstrap/js/bootstrap.js')
    script(src='assets/js/handlebars-v3.0.1.js')
    script(src='assets/js/json2.js')
    script(src='assets/plugins/iCheck-master/js/icheck.js?v=1.0.2')
    script(type='text/javascript').
      $(function(){
      $('.dropdown').hover(function() {
      $(this).toggleClass('open');
      });
      });
    script(type='text/javascript').
      $(document).ready(function(){
      if ($("#bc1 a:hidden").length > 0) {$("#extraDots").show();}
      if ($("#bc1 a:hidden").length == 0) {$("#extraDots").hide();}
      $(window).resize(function() {
      if ($("#bc1 a:hidden").length > 0) {$("#extraDots").show();}
      if ($("#bc1 a:hidden").length == 0) {$("#extraDots").hide();}
      })
      });
    // IE7 and/or IE8 fixes using jQuery
    script(type='text/javascript').
      $(document).ready(function() {
      setTimeout(function() { document.getElementById('Username').focus(); }, 100);
      if(navigator.appVersion.indexOf("MSIE 7.")!=-1) {
      var loginButton = document.getElementById('loginBtn');
      loginButton.style.marginLeft = 5;
      loginButton.style.paddingTop = 3;
      loginButton.style.paddingBottom = 3;
      document.getElementById("mainNavbar").style.zIndex = "3";
      };
      });
      $(document).ready(function(){
      $(window).resize(function() {
      ellipses1 = $("#bc1 :nth-child(2)")
      if ($("#bc1 a:hidden").length >0) {ellipses1.show()} else {ellipses1.hide()}
      })
      });
    script.
      $(document).ready(function(){
      $('input').iCheck({
      checkboxClass: 'icheckbox_flat-red',
      radioClass: 'iradio_flat-red'
      });
      });
    script(src='assets/plugins/iCheck-master/js/icheck.js?v=1.0.2')
